---
// Importaciones
import { generalConfig, LinkUsuario } from "@util/generalConfig"
import { CircleUserRound } from "lucide-react"

// Estilos
const styleNav = "bg-white border-gray-200 shadow-sm"
const styleDiv1Nav = "bg-white border-gray-200 shadow-sm flex items-center justify-around flex-row pt-5 pb-5 px-4 md:px-6 lg:px-8"
const styleDiv2Nav = "flex items-center space-x-3 rtl:space-x-reverse"
const styleDiv4Nav = "flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse gap-1"
const styleA1Nav = `relative inline-flex items-center p-1 text-sm font-medium text-center` 
---

<nav class:list={styleNav}>
    <div class:list={styleDiv1Nav}>
      <a href="/">
        <div class:list={styleDiv2Nav}>
          <div class:list={styleDiv2Nav}>            
            <picture class="rounded-full">
              <source srcset={generalConfig.Header.logoCompanyWebp} type="image/webp" class="rounded-full shadow"/>
              <source srcset={generalConfig.Header.logoCompanyJpg} type="image/jpeg" class="rounded-full shadow"/>
              <img
              class="rounded-full shadow"
                src={generalConfig.Header.logoCompanyPng}
                alt="Logo de la compañía"
                width={40}
                height={40}
              />
            </picture>
            
          </div>          
          <span class:list={generalConfig.Header.classLinksHome} style={{ wordWrap: "break-word" }}>
            {generalConfig.Header.nameCompany}
          </span>           
        </div>
      </a>
      <div class:list={styleDiv4Nav}>      
        <a href={LinkUsuario} type="button" class:list={styleA1Nav}>
        <CircleUserRound className="h-10 w-10" />
        </a>
      </div>
      <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1 border border-gray-300 rounded-full px-2 py-1" id="navbar-user">
  <ul class="flex flex-row gap-2 p-0 m-0 list-none">
    {generalConfig.Header.linksPages.map(link => (
      link.active && (
        <li>
          <a 
            href={link.href} 
            class="inline-block py-2 px-4 text-stone-700 font-open-sans font-semibold text-base hover:bg-gray-200 rounded-full transition-colors duration-200"
            aria-current={link.text === "Inicio" ? "page" : undefined}
          >
            {link.text}
          </a>
        </li>
      )
    ))}
  </ul>
</div>
    </div>
  </nav>
  